  #mapid {
    height: 600px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
body {
	background-image: url('/club-de-sport/images/voley.webp');
	background-size: cover; /* Pour que l'image couvre toute la surface du corps */
	background-repeat: no-repeat;
	background-position: center; /* Pour centrer l'image */    
	color: #000000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.op{
   background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 2rem;
    margin-top: 2rem;
}
.form-group label {
    color: #495057;
    font-weight: bold;
}
.form-control {
    margin-bottom: 1rem;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
 .d-inline {
    display: inline;
}

 