/* Style de base du corps de la page */
body {
    background-image: url('/club-de-sport/images/profil.webp'); /* Image de fond pour le corps de la page */
    background-size: cover; /* Pour que l'image couvre toute la surface du corps */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    background-position: center; /* Pour centrer l'image */
    color: #000000; /* Couleur du texte */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police du texte */
}
/* Conteneur principal du profil */
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond blanc transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style de la photo de profil */
.profile-photo {
    width: 150px; /* Largeur de la photo */
    height: 150px; /* Hauteur de la photo */
    border-radius: 50%; /* Pour rendre la photo circulaire */
    object-fit: cover; /* Pour que l'image couvre toute la surface sans déformation */
    margin-bottom: 20px; /* Marge inférieure de 20px */
}

/* Style des titres dans les informations du profil */
.profile-info h1 {
    font-size: 2.5em; /* Taille de la police */
    margin-bottom: 10px; /* Marge inférieure de 10px */
}

/* Liste des informations du profil */
.profile-info ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut */
}

/* Éléments de la liste des informations du profil */
.profile-info ul li {
    font-size: 1.2em; /* Taille de la police */
    margin-bottom: 10px; /* Marge inférieure de 10px */
}

/* Formulaire pour modifier la photo de profil */
.profile-form {
    margin-top: 20px; /* Marge supérieure de 20px */
}

/* Entrée de fichier pour la photo de profil */
.profile-form input[type="file"] {
    display: none; /* Masque le champ de fichier */
}

/* Étiquette pour le champ de fichier */
.profile-form label {
    display: inline-block; /* Affichage en bloc en ligne */
    padding: 10px 20px; /* Espacement interne de 10px en haut et en bas, 20px à gauche et à droite */
    font-size: 1em; /* Taille de la police */
    color: #fff; /* Couleur du texte */
    background-color: #007bff; /* Couleur de fond */
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer; /* Curseur en forme de main */
    margin-right: 10px; /* Marge droite de 10px */
}

/* Bouton de soumission du formulaire */
.profile-form button {
    display: inline-block; /* Affichage en bloc en ligne */
    padding: 10px 20px; /* Espacement interne de 10px en haut et en bas, 20px à gauche et à droite */
    font-size: 1em; /* Taille de la police */
    color: #fff; /* Couleur du texte */
    background-color: #28a745; /* Couleur de fond */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer; /* Curseur en forme de main */
}

/* Style pour les messages d'erreur */
.error {
    color: red; /* Couleur du texte */
    margin-top: 10px; /* Marge supérieure de 10px */
}
