body {
	background-image: url('/club-de-sport/images/horizontal.webp');
    background-size: cover; /* Pour que l'image couvre toute la surface du corps */
    background-repeat: no-repeat;
    background-position: center; /* Pour centrer l'image */      
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	max-width: 450px;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], select, input[type="file"]{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="file"] {
	border: none;
	background-color: #f0f0f0;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}
