body {
    background-size: cover;
    background-repeat: no-repeat;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Utilisation de la largeur de la fenêtre du navigateur */
    height: 100vh; /* Utilisation de la hauteur de la fenêtre du navigateur */
    object-fit: cover; /* Pour conserver les proportions de l'élément vidéo */
    z-index: -1; /* Pour mettre la vidéo en arrière-plan */
}
.auth-container {
	background-color: rgba(255, 255, 255, 0.8); /* Transparence ajoutée */
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	max-width: 400px;
	margin: 12px auto 30px auto;
	/* Margin top réduite et marge en bas ajoutée */
}

.form-group {
	margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	transition: border-color 0.3s;
}

input[type="email"]:focus, input[type="password"]:focus {
	border-color: #007bff;
	outline: none;
}

input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}