.accueil .main-content {
    margin-top: -50px;
}
.navbar {
    position: relative;
    z-index: 1;
    background: rgb(128, 128, 128,0.5);
}
/* Premier trait */
.navbar::before {
    content: '';
    position: absolute;
    left: 300px; /* Largeur du .brand-container */
    top: 0;
    bottom: 0;
    border-left: 2px solid rgb(249, 187, 2); /* Ligne pleine */
    transform: skewX(-27deg);
}

/* Deuxième trait */
.navbar::after {
    content: '';
    position: absolute;
    left: 320px; /* Légèrement à droite du premier trait */
    top: 0;
    bottom: 0;
    z-index: -1;
    border-left: 2px dashed rgb(249, 187, 2,0.8); /* Ligne pointillée */
    transform: skewX(-27deg);
}



.brand-container {
    background: rgb(249, 187, 2);
    clip-path: polygon(0% 100%, 10% 0, 100% 0, 90% 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 56px;
}
/* Ajoutez ce CSS à votre fichier style.css ou directement dans un <style> tag */
.site-name {
    top: 0;
    font-weight: 1000; 
    font-style: italic; 
    font-size: 37px; 
	font-family: "Brush Script MT", cursive; /*font-family: 'Arial', sans-serif; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Ajout d'une ombre au texte */
    letter-spacing: 3px; /* Espacement des lettres pour un effet plus espacé */
    transition: color 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease; /* Transition pour les effets d'interaction */
    background: transparent; /* Changement de couleur au survol */
    color: rgb(255, 255, 255); /* Changement de couleur au survol */
}

.site-name:hover {
    color: rgb(255, 255, 255); /* Changement de couleur au survol */
    text-shadow: 4px 4px 8px rgba(0, 0, 0,0.8); /* Ombrage plus intense au survol */
    font-size: 40px; 
}

/* Footer animés */
.footer {
    bottom: 0; /* Le placer tout en bas */
    left: 0;
    width: 100%;
    padding: 15px 0; /* Ajout de padding pour l'espace autour du contenu */
    margin-top: auto; /* Pour pousser le footer en bas de la page */
    background-size: cover; /* Utilisation de l'arrière-plan vidéo pour le footer */
}


.footer .container {
    max-width: 100%; /* Utiliser la largeur maximale disponible */
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les éléments horizontalement */
}

.footer .col-md-6 {
    flex: 0 0 50%; /* Diviser la largeur en 2 colonnes pour les écrans de taille moyenne */
    max-width: 50%; /* Limiter la largeur à 50% pour les écrans de taille moyenne */
}

.footer h4 {
    font-size: 18px; /* Taille de police pour les titres */
}

.footer ul {
    margin-bottom: 0; /* Supprimer la marge en bas des listes */
}

.footer li {
    font-size: 14px; /* Taille de police pour les éléments de liste */
}

 /* Animation du fond */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 .d-inline {
    display: inline;
}
.space-up {
    margin-top: 9px; /* ajustez la valeur selon vos besoins */
}
 

/* Style pour le menu déroulant du profil */
.nav-item.dropdown .dropdown-menu {
    margin-top: 9px; /* ajustez la valeur selon vos besoins */
    min-width: 250px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    display: none;
    background: linear-gradient(145deg, rgba(224, 224, 224, 0.9), rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9)); /* Fond panaché clair et un peu transparent */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Contour légèrement visible */
    backdrop-filter: blur(5px); /* Ajout d'un flou pour un effet de verre dépoli */
    border-image: linear-gradient(145deg, #d3d3d3, #e0e0e0) 1; /* Contour stylisé */
}

.nav-item.dropdown.show .dropdown-menu {
    display: block;
    opacity: 0.9; /* Augmenter légèrement l'opacité pour une meilleure lisibilité */
    transform: translateY(-5px);
}


.nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
}

.profile-icon-header img {
    width: 25px; /* Ajuster la taille si nécessaire */
    height: 25px; /* Ajuster la taille si nécessaire */
    border-radius: 100%; /* Pour rendre l'image circulaire */
    background-size: cover; /* Assure que l'image couvre tout le div */
    background-position: center; /* Centre l'image */
    transition: transform 0.3s ease; /* Transition douce pour l'effet de survol */
    margin-left: 10px; /* Ajoute une marge à gauche */   
    transform: scale(2); /* Agrandissement au survol */ 
}
.profile-icon-header:hover {
    transform: scale(1.2); /* Agrandissement au survol */
}

.dropdown-item-text {
    color: #333;
    font-family: 'Arial', sans-serif; /* Police moderne */
    font-size: 1.1em; /* Taille du texte */
    text-align: center; /* Centrer le texte */
}

.user-type {
    color: #333; /* Couleur pour le type d'utilisateur */
}

.user-name {
    color: #333; /* Couleur pour le nom et prénom */
}

.deconnexion-btn {
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em; /* Taille du texte */
    color: #dc3545; /* Couleur du texte */
    transition: color 0.3s; /* Transition pour effet de survol */
    width: 100%; /* Pour que le bouton occupe toute la largeur */
    text-align: center; /* Centrer le texte */
}

.deconnexion-btn:hover {
    color: #ff0000; /* Couleur du texte au survol */
}

.profil-btn {
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em; /* Taille du texte */
    color: #00c600; /* Couleur du texte */
    transition: color 0.3s; /* Transition pour effet de survol */
    width: 100%; /* Pour que le bouton occupe toute la largeur */
    text-align: center; /* Centrer le texte */
}
.profil-btn:hover {
    color: #00ff00; /* Couleur du texte au survol */
}
/* Empêcher le changement de fond sur survol pour les éléments de menu déroulant */
.dropdown-item.profil-btn:hover {
    background-color: inherit; /* Conserve la couleur de fond d'origine */
}

/* Style pour le dropdown-divider */
.dropdown-divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px dotted #333; /* Divider en pointillé */
    background: none; /* Supprime le fond existant */
}


 .profile-icon {
	width: 100px; /* Largeur de l'icône agrandie */
	height: 100px; /* Hauteur de l'icône agrandie */
	margin: 0 auto 20px auto;
	/* Centre l'icône horizontalement et ajoute un espace en dessous */
	background: #fff; /* Couleur de fond blanche */
	border-radius: 50%; /* Pour créer une forme de cercle */
	display: flex;
	justify-content: center;
	align-items: center;
    background: linear-gradient(90deg,rgb(128, 0, 255), #00008b, rgb(0, 128, 255),rgb(128, 0, 255));
	/* Dégradé entre bleu clair, bleu et violet clair */
	background-size: 400% 400%;
	animation: gradientAnimation 20s ease infinite;
	/* Mouvement plus lent */
}