.spacer {
    height: 100px; /* quantité d'espace*/
}
.transparent-div {
    background-color: rgba(186, 224, 250, 0.6); /* Fond blanc avec opacité */
    padding: 20px; /* Espacement intérieur */
    margin: 0 auto; /* Marges automatiques à gauche et à droite */
    width: calc(100% - 40px); /* Largeur de la div avec marges de 20px de chaque côté */
    max-width: 1250px; /* Largeur maximale de la div */
}

#ff{
	background: linear-gradient(to right, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.9));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

body.elu {
	background-image: url('/club-de-sport/images/fotor-ai-2024051623638.jpg');
    background-size: cover; /* Pour que l'image couvre toute la surface du corps */
    background-repeat: no-repeat;
    background-position: center; /* Pour centrer l'image */      
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.editPost {
	background-image: url('/club-de-sport/images/fotor-ai-2024051622449.jpg');
    background-size: cover; /* Pour que l'image couvre toute la surface du corps */
    background-repeat: no-repeat;
    background-position: center; /* Pour centrer l'image */      
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.reinitialisation {
	background-image: url('/club-de-sport/images/mdp-ou.jpg');
	background-size: cover;
	/* Pour que l'image couvre toute la surface du corps */
	background-repeat: no-repeat;
	background-position: center; /* Pour centrer l'image */
	color: #000000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.auth-container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
	border-bottom: 0;
}



.deluxe-button {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.white-shadow {
	 color: #fff; 
	 text-shadow: 2px 2px 4px #000;
}
/* Partie EluServlet :
 
/* Styles du tableau */
.datatable {
    border-collapse: collapse;
    width: 100%;
    background-color: #add8e6; /* Couleur de fond pour les cellules */
    border: 1px solid #005a8d; /* Bordure du tableau */
}

.datatable tr {
    background: linear-gradient(90deg,rgb(128, 128, 255), rgb(96, 155, 244) , rgb(157, 140, 238), rgb(126, 162, 220));
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite; /* Mouvement plus lent */
}
.datatable th {
    color: white; /* Couleur du texte pour les titres */
    font-weight: bold;
    padding: 12px;
    border: 1px solid #005a8d; /* Couleur et épaisseur des bordures pour les titres */
    text-align: center; /* Centrage du texte dans les titres */
}
.datatable td {
    background-color: #eaf2ff; /* Bleu clair proche du blanc */
    color: black; /* Couleur du texte pour les cellules */
    padding: 10px;
    border: 1px solid #005a8d; /* Couleur et épaisseur des bordures pour les cellules */
    text-align: center; /* Centrage du texte dans les cellules */
}






/* CSS pour les boutons spécifiques */
.custom-btn {
    transition: all 0.3s ease;
}

.custom-btn:hover {
    transform: translateY(-2px); /* Légère translation vers le haut au survol */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce au survol */
}



/* Style pour le bouton de recherche */
.search-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 30px; /* Ajustement de la marge supérieure */
}
/* Animation pour le bouton de recherche au survol */
.search-btn:hover {
    background-color: #7bc96f; /* Vert plus clair */
    color: #ffffff; /* Couleur du texte au survol */
    transform: scale(1.1); /* Agrandissement au survol */
}

#searchButton:focus {
    outline: none;
}


.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
    display: inline-block; /* Pour que les éléments <li> apparaissent sur la même ligne */
    margin: 0 5px; /* Marge horizontale entre chaque bouton */
    font-size: 17px; /* Taille de police */
    background: linear-gradient(90deg,rgb(128, 128, 255), rgb(96, 155, 244) , rgb(157, 140, 238), rgb(126, 162, 220));
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite; /* Mouvement plus lent */
    border-radius: 5px; /* Bord arrondi */
    padding: 8px 12px; /* Rembourrage intérieur */
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.2); /* Ombre */
    transition: all 0.3s ease; /* Transition pour un effet de survol plus fluide */
}

.pagination li:hover {
    transform: translateY(-2px); /* Légère translation vers le haut au survol */
}
.pagination li a {
    color: #ffffff; /* Couleur du texte */
}

.pagination li.active a {
    font-weight: bold; /* Augmenter l'épaisseur de la police */
	font-size: 19px; /* Taille de police */
}

video {
    position: fixed; /* Pour positionner la vidéo de manière fixe */
    top: 0;
    left: 0;
    width: 100vw; /* Utilisation de la largeur de la fenêtre du navigateur */
    height: 100vh; /* Utilisation de la hauteur de la fenêtre du navigateur */
    object-fit: cover; /* Pour conserver les proportions de l'élément vidéo */
    z-index: -1; /* Pour mettre la vidéo en arrière-plan */
}
