
body {
    background-image: url('/club-de-sport/images/horizontal.webp');
    background-size: cover; /* Pour que l'image couvre toute la surface du corps */
    background-repeat: no-repeat;
    background-position: center; /* Pour centrer l'image */    
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1, .container h2, .container h3 {
    text-align: center;
    color: #000000;
}
#postsList {
background: linear-gradient(to bottom, rgba(130, 155, 251, 0.9), rgba(161, 196, 253, 0.3));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post-card {
    background-color: rgb(255, 255, 255,0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.post-card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-info, .btn-danger {
    margin-top: 10px;
}

.footer-bga {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); /* Dégradé entre bleu clair, bleu et violet clair */
    background-size: 400% 400%;
}
#ff{
	background: linear-gradient(to right, rgba(161, 196, 253, 0.8), rgba(194, 233, 251, 0.9));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.createSpace {
            width: 50%;
            padding-top: 40px;
   }
.cntrl {
            border-radius: 0.25rem;
            border: 2px solid #007bff;
        }
.mt-4 {
	background: rgba(255, 255, 255,0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

